USE [master]
GO
/****** Object:  Database [emsDb]    Script Date: 04.01.2023 15:32:13 ******/
CREATE DATABASE [emsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'emsDb', FILENAME = N'C:\Users\mnovo\emsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'emsDb_log', FILENAME = N'C:\Users\mnovo\emsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [emsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [shopLogin]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [shopLogin] WITH PASSWORD=N'GNkF52nufjlFloA10j/EqGRMHCUo3lzKLmt+NBCp7a0=', DEFAULT_DATABASE=[shopAdminDb], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [shopLogin] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [ServerApp]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [ServerApp] WITH PASSWORD=N'5LjZdwqd9SHmUrS9w3RgfG+QLxbbphOgL1aZgCW6CCw=', DEFAULT_DATABASE=[AppCodes], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [ServerApp] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [PostAppLogin]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [PostAppLogin] WITH PASSWORD=N'wnePWKbeBmriUsWVOVBl9m6Ky/zOUynBrorFICJWJuM=', DEFAULT_DATABASE=[PostAppDb], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [PostAppLogin] DISABLE
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [emsLogin]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [emsLogin] WITH PASSWORD=N'MOpBdOfsxCoprvrF7WCc+1x17rRej68klJ4FCqEWPU0=', DEFAULT_DATABASE=[emsDb], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [emsLogin] DISABLE
GO
/****** Object:  Login [DESKTOP-OB90K25\mnovo]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [DESKTOP-OB90K25\mnovo] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [Admin]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [Admin] WITH PASSWORD=N'UxRZ5lU/xpVS7fQY0J3+y6CZji8VunwmNCovCUiMFhg=', DEFAULT_DATABASE=[shopAdminDb], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [Admin] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'L/4/hKvR0Df/IC1SvWlKIEd67cqN4adbME+iK6TtaJk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 04.01.2023 15:32:14 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'BGVATQWHEhDq7kHUBp/LRX7qA3LudZ1G8oMYj+uvDO4=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[emsDb] TO [DESKTOP-OB90K25\mnovo]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-OB90K25\mnovo]
GO
USE [emsDb]
GO
/****** Object:  User [emsUser]    Script Date: 04.01.2023 15:32:14 ******/
CREATE USER [emsUser] FOR LOGIN [emsLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [emsUser]
GO
GRANT CONNECT TO [emsUser] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[__EFMigrationsHistory] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Address]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[street] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[zip] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Address] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Car]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[plate] [nvarchar](10) NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Car] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[doctor_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[sex] [nvarchar](10) NULL,
	[rank] [nvarchar](50) NULL,
	[phone_number] [int] NULL,
	[hospital_id] [int] NULL,
	[password] [nvarchar](max) NULL,
	[call_sign] [nvarchar](50) NULL,
	[birthday] [datetime] NULL,
	[reputation] [int] NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Doctor] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[hospital_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[street] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Hospital] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[birthday] [datetime] NULL,
	[sex] [nvarchar](50) NULL,
	[street] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[zip] [nvarchar](50) NULL,
	[phone_number] [int] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Patient] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Respond]    Script Date: 04.01.2023 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respond](
	[respond_id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NULL,
	[date] [datetime] NULL,
	[price] [int] NULL,
	[car_id] [int] NULL,
	[patient_id] [int] NULL,
 CONSTRAINT [PK_Respond] PRIMARY KEY CLUSTERED 
(
	[respond_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Respond] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([car_id], [name], [plate]) VALUES (1, N'Trackhawk', N'TRACKEMS')
INSERT [dbo].[Car] ([car_id], [name], [plate]) VALUES (3, N'Tundra', N'AAA12345')
INSERT [dbo].[Car] ([car_id], [name], [plate]) VALUES (4, N'16fpi', N'BBB12345')
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([doctor_id], [name], [surname], [sex], [rank], [phone_number], [hospital_id], [password], [call_sign], [birthday], [reputation]) VALUES (1, N'Nathan', N'Kane', N'Male', N'Head', 123456789, 1, N'a', N'Head-3', CAST(N'1992-02-10T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Doctor] ([doctor_id], [name], [surname], [sex], [rank], [phone_number], [hospital_id], [password], [call_sign], [birthday], [reputation]) VALUES (2, N'Sara', N'Rossi', N'Female', N'Dean', 123456789, 1, N'a', N'Dean-2', CAST(N'1994-07-27T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Doctor] ([doctor_id], [name], [surname], [sex], [rank], [phone_number], [hospital_id], [password], [call_sign], [birthday], [reputation]) VALUES (3, N'Angel Jose ', N'Diaz', N'Male', N'Dean', 213546789, 1, N'a', N'Dean-3', CAST(N'1990-11-14T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospital] ON 

INSERT [dbo].[Hospital] ([hospital_id], [name], [street]) VALUES (1, N'Mount Zonah', N'Rockford Hills')
INSERT [dbo].[Hospital] ([hospital_id], [name], [street]) VALUES (2, N'Pillbox Hill', N'Strawberry Avenue')
INSERT [dbo].[Hospital] ([hospital_id], [name], [street]) VALUES (3, N'Central LS', N'Capital Boulevard')
SET IDENTITY_INSERT [dbo].[Hospital] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([patient_id], [name], [surname], [birthday], [sex], [street], [city], [country], [zip], [phone_number]) VALUES (1, N'Pepa', N'Vomáčka', CAST(N'1999-05-24T00:00:00.000' AS DateTime), N'Male      ', N'Power Street', N'Los Santos', N'United States', N'8163', 123465879)
INSERT [dbo].[Patient] ([patient_id], [name], [surname], [birthday], [sex], [street], [city], [country], [zip], [phone_number]) VALUES (2, N'Jacob', N'Williams', CAST(N'1990-09-28T00:00:00.000' AS DateTime), N'Male      ', N'Vespucci Boulevard', N'Los Santos', N'United States', N'8076', 231456879)
INSERT [dbo].[Patient] ([patient_id], [name], [surname], [birthday], [sex], [street], [city], [country], [zip], [phone_number]) VALUES (3, N'Mike', N'Williams', CAST(N'1992-01-02T13:28:03.000' AS DateTime), N'Male', N'asd', N'dgasa', N'sdaf', N'asdf', 123564879)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Respond] ON 

INSERT [dbo].[Respond] ([respond_id], [doctor_id], [date], [price], [car_id], [patient_id]) VALUES (1, 1, CAST(N'2022-12-15T00:00:00.000' AS DateTime), 10000, 1, 2)
INSERT [dbo].[Respond] ([respond_id], [doctor_id], [date], [price], [car_id], [patient_id]) VALUES (2, 1, CAST(N'2022-12-14T00:00:00.000' AS DateTime), 6000, 1, 4)
INSERT [dbo].[Respond] ([respond_id], [doctor_id], [date], [price], [car_id], [patient_id]) VALUES (1003, 1, CAST(N'2023-01-02T00:00:00.000' AS DateTime), 7000, 3, 3)
SET IDENTITY_INSERT [dbo].[Respond] OFF
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Hospital] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[Hospital] ([hospital_id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Hospital]
GO
ALTER TABLE [dbo].[Respond]  WITH CHECK ADD  CONSTRAINT [FK_Respond_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Respond] CHECK CONSTRAINT [FK_Respond_Car]
GO
ALTER TABLE [dbo].[Respond]  WITH CHECK ADD  CONSTRAINT [FK_Respond_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([doctor_id])
GO
ALTER TABLE [dbo].[Respond] CHECK CONSTRAINT [FK_Respond_Doctor]
GO
ALTER TABLE [dbo].[Respond]  WITH CHECK ADD  CONSTRAINT [FK_Respond_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([patient_id])
GO
ALTER TABLE [dbo].[Respond] CHECK CONSTRAINT [FK_Respond_Patient]
GO
USE [master]
GO
